<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить платеж</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1>Добавить платеж</h1>

<form method="post" th:object="${payment}">
    <div class="form-group">
        <label for="amount">Сумма:</label>
        <input type="number" id="amount" name="amount" th:field="*{amount}">
        <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
    </div>
    <div class="form-group">
        <label for="paymentDate">Дата платежа:</label>
        <input type="date" id="paymentDate" name="paymentDate" th:field="*{paymentDate}">
        <span th:if="${#fields.hasErrors('paymentDate')}" th:errors="*{paymentDate}"></span>
    </div>
    <div class="form-group">
        <label for="ord">Заказ:</label>
        <select id="ord" name="ord.id" th:field="*{ord.id}" required>
            <option th:each="ord : ${ords}" th:value="${ord.id}" th:text="${ord.id}"></option>
        </select>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
</form>

<a href="/payment" class="btn btn-danger">Вернуться к списку платежей</a>
</body>
</html>